/* commented out this line trying to make chat work with dashboard formatting */
/* @import "chatStyle.css"; */
@import 'loginStyle.css';
@import 'dashboardStyle.css';

#taskSaveButton {
    background-color: rgb(8, 170, 245);
}

#newTaskButton {
    object-fit: none;
    object-position: 50% 80%;

}

