/* styles for tasks */

#taskSaveButton {
    background-color: rgb(8, 170, 245);
}

/* .tasks {
    background-color: bisque;
    width: 500px;
    height: 500px;
    display: flex;
} */

#newTaskButton {
    object-fit: none;
    object-position: 50% 80%;

}